aside {
  background: #944;
  justify-content: space-evenly;
  display: flex;
  flex-flow: column nowrap;
  position: float;
  top: 0;
  border-bottom: solid 1em #522;
}

aside * {
  background: inherit;
  color: #dff;
}

h1 {
  font-size: 130%;
  padding: 1em;

}

div.playControls {
  min-width: 30vw;
  display: grid;
  border-radius: 1vh;
  border: solid .5vh;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1vh;
  grid-template-areas: "buttons buttons buttons buttons" "slider slider slider slider";
  padding: 1vh;
}

button {
  width: 100%;
  background: #ccc;
  border-radius: .5vh;
}

button:disabled {
  background: #999;
}

input[type="range"] {
  grid-area: slider;
}

form {
  margin: 0.5em;
  padding: 0.5em
}