tr{
  height: 100%;
  width: 100%;
}

td {
  height: 1vmin;
  width: 1vmin;
  border: 0.3vmin solid #444;
}

td[data-alive="true"] {
  background: #bdb;
}

td[data-alive="false"] {
  background: #111;
  }