* {
  background: #333;
  color: #eee;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main, aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
main {
  overflow: scroll;
}

main p {
  padding: 1em;
}